.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0px;
  .logo {
  }
  .header-buttons{
    display: flex;
    flex-direction: row;
    button{
      padding-right: 70px;
      font-family: system-ui;
      font-size: 14px;
    }
  }
  .icons{
    display: flex;
    button{
      background-color: #744BFC;
      border-radius: 5px;
      margin: 0 15px 15px 0;
    }
  }
}
