<div class="container">
  <form class="example-form">
    <button mat-icon-button class="exit-button">
      <mat-icon>clear</mat-icon>
    </button>
    <p>Sosyal Medya Linki</p>
    <mat-form-field class="social-media-link">
      <input matInput />
    </mat-form-field>
    <p>Sosyal Medya Adı</p>
    <mat-form-field class="social-media-name">
      <input matInput />
    </mat-form-field>
    <p>Açıklama</p>
    <mat-form-field class="social-media-description">
      <input matInput />
    </mat-form-field>
    <div class="buttons">
      <button class="cancel-button" mat-raised-button>Vazgeç</button>
      <button class="save-button" mat-flat-button (click)="save()">Kaydet</button>
    </div>
  </form>
</div>
