.container {
  margin: 20px 20px 20px 20px;
  display: flex;
  width: 488px;
  height: max-content;
  .example-form {
    display: grid;
    width: 100%;
    .exit-button {
      margin-left: auto;
    }
    .social-media-link {
      Input {
      }
    }
    .buttons {
      margin-left: auto;
      .cancel-button {
        color: #744bfc;
        border-radius: 2rem;
      }
      .save-button {
        background-color: #744bfc;
        color: white;
        border-radius: 2rem;
        margin-left: 10px;
      }
    }
  }
}
