.container{
  margin: 20px 20px 20px 20px;
  color: #FFFFFF;
  .body-container{
    .body-top{
      .example-full-width{
        input{
          border-radius: 5rem;
          background-color: white;
        }
      }
    }
  }
}
